body {
  font-family: "rubik", sans-serif;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}
/* ========================== TIPS PAGE =============================*/
.tips-header {
  /* display: inline-block; */
  max-width: 130rem;
  display: flex;
  margin: 0rem auto;
  padding: 0rem;
  text-align: center;
  color: #339af0;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
}
.tips-img {
  width: 25rem;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.box {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  padding: 1.6rem;
}
.acc-content {
  max-height: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  transition: all 0.5s ease;
}
.box {
  width: 100rem;
  margin: 2rem auto;
  gap: 1.6rem;
  row-gap: 24px;
  border-top: 0.7rem solid #339af0;
  border-radius: 0.4rem;
}
.title-div {
  cursor: pointer;
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.acc-icon {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.acc-title {
  cursor: pointer;
  position: relative;
  padding: 0.8rem;
  font-size: 3.2rem;
  font-weight: 600;
  align-items: center;
  color: #343a40;
}

.accordion ul {
  margin-top: 1.8rem;
}
.accordion li {
  margin-left: 1.8rem;
}

.acc-img {
  max-width: 100%;
}
.acc-txt {
  font-size: 1.8rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}
.box.active .acc-content {
  max-height: 100rem;
  padding: 0.8rem 1.6rem;
  animation: fade 0.9s ease-in-out;
}
.box.active .acc-icon {
  transform: rotate(180deg);
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
